footer {
  background-color: $footerBG;
}

.footer {
  text-align: center;
  padding: 38px 0 47px;
  color: #B9B9B9;
  @include medium {
    padding: 57px 0;
  }
  @include large {
    padding: 66px 0 70px;
  }

  &__title {
    color: #FEFEFE;
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    margin: 8px 10px 0;
    @include medium {
      font-size: 16px;
      line-height: 28px;
      margin: 8px 38px 0;
    }
  }

  &__social {
    margin: 25px auto;
    @include medium {
      margin: 37px auto;
    }
  }

  &__text-second {
    display: none;
    @include medium {
      display: initial;
    }
  }

  &__address {
    font-size: 14px;
    line-height: 24px;
    margin: 0 20px;
    @include medium {
      display: flex;
      justify-content: center;
      font-size: 16px;
      line-height: 26px;
      margin: initial;
    }
  }
}

.messenger {
  &__icon {
    margin: 0 3px;
  }
}

.address {
  &__tel, &__mail {
    @include reset-link;
    color: #B9B9B9;
  }
}
