.nav {
  position: relative;

  &__trigger {

    margin: 23px 0 23px auto;
    text-align: right;
    width: 44px;
    height: 37px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    > .fa-bars {
      display: none;
      font-size: 25px;
      color: white;
    }

    > .fa-times {
      display: none;
      color: white;
      font-size: 25px;
    }
  }

  &__lists {
    position: absolute;
    top: 37px;
    right: 0;
    display: none;
  }

  &__item {
    background: #F5F5F5;
    width: 142px;

    &:hover {
      background: #E5E5E5;
    }
  }

  &__link {
    margin: 4px 13px;
    text-decoration: none;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }

  &__link--color {
    color: #57A4A4;
  }

  .show {
    display: block;
  }
}


@media (min-width: 768px) {
  .nav {
    &__trigger {
      display: none;
      position: relative;
    }

    &__lists {
      display: flex;
      position: initial;
      justify-content: space-between;
      align-items: center;
      margin: 41px 80px 43px;

    }

    &__item {
      text-align: center;
      background: none;
      width: initial;

      &:hover {
        background: none;
      }
    }

    &__link {
      margin: 0;
    }
  }
}


@media (min-width: 1200px) {
  .nav {

    &__lists {
      margin: 45px 180px 51px;

    }

    &__item {
      text-align: center;
      background: none;
      width: initial;

      &:hover {
        background: none;
      }
    }

    &__link {
      margin: 0;
    }
  }
}