.image-to-show {
    width: 400px;
    height: 400px;
  }
  button {
     text-align: center;
     cursor: pointer;
  }
  .hide {
      display: none;
  }
  .show {
      display: block;
  }
  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
