.cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.title{
  margin: 30px 100px;
  font-size: 50px;
  color: #1E656D;
}
.nothing{
  color: #e74c3c;
}