.title{
  margin: 30px 100px;
  font-size: 50px;
  color: #1E656D;
}
.cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.empty{
  color: #F62A00;
}
.total {
  color: #00293C;
  padding: 30px 90px 0 0;
  text-align: end;
}
